In [ ]:
import pandas as pd                                                            # used to provide major datastructure pd.DataFrame() to store the datasets
import numpy as np                                                             # used for numerical calculations and fast array manipulations
import folium                                                                  # used for spatial data visualizations
import json                                                                    # used for loading json data correctly
import statsmodels.api as sm                                                   # used to run multivariate linear regression
from scipy.stats import pearsonr, spearmanr                                    # used to run 'pearson' and 'spearman' association tests of numerical variables on two variables
from statsmodels.stats.multitest import multipletests                          # used to run multiple tests of p-values for multiple variables
import matplotlib.pyplot as plt
from IPython.display import Markdown, display                                  # used to print stuff with markdown/HTML formatting for bold text and colored text
def printmd(string):
    display(Markdown(string))

Task 0

In [ ]:
data_truth = pd.read_csv("../../data/raw_data/example_ground_truth.csv")
data_truth

In [ ]:
data_truth['melanoma'].value_counts()

In [ ]:
data_truth['seborrheic_keratosis'].value_counts()

In [ ]:
#Don't know if this is useful, but the challenge said 'if there in one class and/or other class'

same=['seborrheic_keratosis']==['melanoma']
print('There are some same values:', same)
notsame=['seborrheic_keratosis']!=['melanoma']
print('There are no same values:', notsame)

In [53]:
data_grouped = pd.read_csv("../../data/ourData/ISIC-2017_Training_Data_metadata.csv")
data_grouped

          image_id age_approximate     sex
0     ISIC_0000000              55  female
1     ISIC_0000001              30  female
2     ISIC_0000002              60  female
3     ISIC_0000003              30    male
4     ISIC_0000004              80    male
...            ...             ...     ...
1995  ISIC_0015220              75    male
1996  ISIC_0015233              60    male
1997  ISIC_0015260              55  female
1998  ISIC_0015284              75    male
1999  ISIC_0015295              70    male

[2000 rows x 3 columns]

In [64]:
data_grouped['sex'].value_counts()

male       900
female     871
unknown    229
Name: sex, dtype: int64

In [71]:
2000-256

1744

In [68]:
data_grouped['age_approximate'].value_counts()

unknown    256
45         176
60         166
65         141
50         138
55         132
40         129
30         128
15         127
70         126
35          97
25          96
75          87
80          80
85          57
20          40
10          20
5            4
Name: age_approximate, dtype: int64

The meta data provides the diagnosises *in terms of*/*based on* ex. age, and sex.
The meta data for melanoma contains 2000 images. There's 229 missing data for sex. For age there's 256 missing data.

IS THIS A FLAW IN THE PROCEDURE OR DID PEOPLE NOT WANT TO GIVE THAT INFORMATION?

A problem with some of the images is that the image doesn't include the entire skin lesion, which makes it *hard/inaccurate* to detect ABC. This is evident in ex. ISIC_0014212.jpg.

There's also images of low quality, such as ISIC_0015445.jpg. *THIS DOESN'T MAKE A DIFFERENCE AFTER CONVERTED TO BLACK AND WHITE? BUT COULD MAKE ARE "HUMAN" EVALUTION WORSE.*