In [18]:
import pandas as pd                                                            # used to provide major datastructure pd.DataFrame() to store the datasets
import numpy as np                                                             # used for numerical calculations and fast array manipulations
import folium                                                                  # used for spatial data visualizations
import json                                                                    # used for loading json data correctly
import statsmodels.api as sm                                                   # used to run multivariate linear regression
from scipy.stats import pearsonr, spearmanr                                    # used to run 'pearson' and 'spearman' association tests of numerical variables on two variables
from statsmodels.stats.multitest import multipletests                          # used to run multiple tests of p-values for multiple variables
import matplotlib.pyplot as plt
from IPython.display import Markdown, display                                  # used to print stuff with markdown/HTML formatting for bold text and colored text
def printmd(string):
    display(Markdown(string))

Task 0

In [27]:
data_truth = pd.read_csv("../../data/raw_data/example_ground_truth.csv")
data_truth

         image_id  melanoma  seborrheic_keratosis
0    ISIC_0001769       0.0                   0.0
1    ISIC_0001852       0.0                   0.0
2    ISIC_0001871       0.0                   0.0
3    ISIC_0003462       0.0                   0.0
4    ISIC_0003539       0.0                   0.0
..            ...       ...                   ...
145  ISIC_0015443       0.0                   0.0
146  ISIC_0015445       0.0                   0.0
147  ISIC_0015483       0.0                   0.0
148  ISIC_0015496       0.0                   0.0
149  ISIC_0015627       0.0                   0.0

[150 rows x 3 columns]

In [31]:
data_truth['melanoma'].value_counts()

0.0    120
1.0     30
Name: melanoma, dtype: int64

In [32]:
data_truth['seborrheic_keratosis'].value_counts()

0.0    108
1.0     42
Name: seborrheic_keratosis, dtype: int64

In [47]:
#Don't know if this is useful, but the challenge said 'if there in one class and/or other class'

same=['seborrheic_keratosis']==['melanoma']
print('There are some same values:', same)
notsame=['seborrheic_keratosis']!=['melanoma']
print('There are no same values:', notsame)

There are some same values: False
There are no same values: True

The meta data provides the diagnosises *in terms of*/*based on* ex. age, and sex.
The meta data for melanoma contains 5734 images. Only 5601 participant are divided into sexes, and therefore there's 133 missing data for sex.

NOT SURE ABOUT THIS.
It's not mandatory for all participants in this research to be checked for all diagnosises. That could explain why there are more ages recorded than cases of melanoma 

A problem with some of the images is that the image doesn't include the entire skin lesion, which makes it *hard/inaccurate* to detect ABC. This is evident in ex. ISIC_0014212.jpg.

There's also images of low quality, such as ISIC_0015445.jpg. *THIS DOESN'T MAKE A DIFFERENCE AFTER CONVERTED TO BLACK AND WHITE? BUT COULD MAKE ARE "HUMAN" EVALUTION WORSE.*